/* @darkest: #323031; */
/* @dark: #3D3B3C; */
/* @slate: #7F7979; */
/* @beige: #C1BDB3; */
/* @lightest: #5F5B6B; */

a {
  text-decoration: none;
}

.header {
  margin-top: 15rem;
  margin-bottom: 8rem;
  text-align: center;
}

.footer {
  text-align: center;
}

.footer > a {
  margin-left: 2rem;
  margin-right: 2rem;
}
