/* @posttag: #C1BDB3; */
/* @header: #5F5B6B; */
/* @lightgrey: #9f9f9f, rgb(159, 159, 159) */

body {
  border-top: 1.4rem aliceblue solid;
}

a {
  text-decoration: none;
}

header {
  margin-top: 2rem;
  margin-bottom: 6rem;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

#home, #posts, #post {
  margin-top: 2rem;
}

#post {
  margin-bottom: 7rem;
}

.header-home {
  font-size: 2.2rem;
  color: #5F5B6B;
}

.header-link {
  text-transform: uppercase;
  color: #5F5B6B;
}

.posts {
  margin-left: 0.5rem;
}

.posts li {
  list-style-type: none;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: #ddd 1px solid;
}

.post-title {
  font-size: 2.2rem;
  margin-bottom: -2rem;
  display: inline-block;
}

.post-date {
  margin-right: 1rem;
}

.post-tag {
  color: #C1BDB3;
}

#post ul {
  margin-left: 2rem;
}

.post-footer {
  color: #9f9f9f;
  text-align: right;
  font-size: 1.2rem;
}

.quote {
  color: #9f9f9f;
  margin-left: 2rem;
  padding-left: 1.5rem;
  border-left: 0.5rem rgba(159, 159, 159, 0.2) solid;
}

footer {
  border-top: #ddd 1px solid;
  padding-top: 4rem;
  padding-bottom: 5rem;
  margin-top: 4rem;
  text-align: center;
}

footer a {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}

.github {
  fill: #1EAEDB;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
  .header-link {
    display: inline-block;
    margin-top: 0.7rem;
    float: right;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
