---
layout: default
title: Sarah Ransohoff
---

<main>
  <p class="tc times i">"Practice and enlightenment are one phenomenon." &mdash;
    <a
      class="ph2 black"
      href="https://www.goodreads.com/book/show/57575713-when-you-greet-me-i-bow"
      target="_blank">
      Norman Fischer
    </a>
  </p>
  <div class="w100">
    {% for list in site.data.images %}
      {% for image in list[1] %}
        {% if image.featured != null %}
          {% if image.href != null %}
            <a class="pointer" href="{{ image.href }}" target="_blank"><img src="{{ image.src }}" alt="{{ image.alt }}"/></a>
          {% else %}
            <img src="{{ image.src }}" alt="{{ image.alt }}" />
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>

  <div class="justify-center flex flex-wrap mt4 mb4 times">
    <a class="ph2 gray" href="/art/paros-greece">Greece</a>
    <a class="ph2 gray" href="/art/coffee-drawings">Coffee drawings</a>
    <a class="ph2 gray" href="/art/marcias-ranch">Marcia's ranch</a>
    <a class="ph2 gray" href="/art/nyc">NYC</a>
    <a class="ph2 gray" href="/art/nc">NC</a>
    <a class="ph2 gray" href="/art/canada">Canada</a>
    <a class="ph2 gray" href="/art/pets">Pets</a>
    <a class="ph2 gray" href="/art/cartoons">The New Yorker &amp; toons</a>
    <a class="ph2 gray" href="/art/about">About</a>
  </div>
</main>
