---
layout: default
title: Sarah Ransohoff
---

<div>
  <div class="justify-center flex flex-wrap mt6">
    <a class="ph2 black" href="/art/cartoons">The New Yorker &amp; cartoons</a>
    <a class="ph2 black" href="/art/sketchbook">Sketchbook</a>
    <a class="ph2 black" href="/art/ipad">iPad</a>
    <a class="ph2 black" href="/art/paintings">Paintings</a>
    <a class="ph2 black" href="/art/about">Bio / Contact</a>
  </div>

  <div class="w100">
    {% for list in site.data.images %}
      {% for image in list[1] %}
        {% if image.featured != null %}
          {% if image.href != null %}
            <a class="pointer" href="{{ image.href }}" target="_blank"><img src="{{ image.src }}" alt="{{ image.alt }}"/></a>
          {% else %}
            <img src="{{ image.src }}" alt="{{ image.alt }}" />
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>
