---
layout: default
title: Sarah Ransohoff
---

<div class="mt6">
  <h1 class="">Paintings</h1>
  <p><a href="/" class="pointer link">< back</a></p>

  <div class="flex flex-wrap items-center justify-between">
    {% for image in site.data.images.paintings %}
      {% if image.href != null %}
        <a class="w-100 w-40-ns pointer dim link mb4" href="{{ image.href }}" target="_blank"><img src="{{ image.src }}" alt="{{ image.alt }}"/></a>
      {% else %}
        <div class="w-100 w-40-ns pointer dim link mb4">
          <a href="{{ image.src }}" target="_blank">
            <img src="{{ image.src }}" alt="{{ image.alt }}">
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
