---
layout: default
title: Shop &#124; Sarah Ransohoff
---

{% assign available = site.artwork | where_exp: "item", "item.status contains '$'" %}
{% assign sorted = available | sort: "date" | reverse %}

<div class="mw9 center ph3-ns">
  <p>
    Prices do not include shipping. If you are interested in purchasing something you don't see here, send me an email at sranso@gmail.com.
  </p>

  <div class="cf ph2-ns">
  {% for art in sorted %}
      <div class="fl w-100 w-50-ns pa2 mt3">
        <a
          {% if art.href != null %}
            href="{{ art.href }}"
          {% else %}
            href="{{ art.url }}"
          {% endif %}
          style="background-image: url({{ art.image }})"
          class="link dt hide-child br2 contain bg-center vh-50 w-100"
        >
            <span class="black dtc v-mid w-100 h-100 child bg-white-70 pa5 tl">
              <span class="db">{{ art.title }}</span>
              <span class="db">{{ art.medium }}</span>
              <span class="db">{{ art.dimensions }}</span>
            </span>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
