---
layout: default
title: Shop Artwork
---

{% assign available = site.artwork | where_exp: "item", "item.status contains '$'" %}
{% assign sorted = available | sort: "path" | reverse %}

<div class="mw9 center ph3-ns">
  <h1 class="f1 lh-title">Available artwork</h1>

  <div class="cf ph2-ns">
  {% for art in sorted %}
      <div class="fl w-100 w-50-ns pa2 mt3">
        <a
          {% if art.href != null %}
            href="{{ art.href }}"
          {% else %}
            href="{{ art.url }}"
          {% endif %}
          style="background-image: url({{ art.src }})"
          class="link dt hide-child br2 contain bg-center vh-50 w-100"
        >
            <span class="black dtc v-mid w-100 h-100 child bg-white-70 pa5 tl">
              <span class="db">{{ art.title }}</span>
              <span class="db">{{ art.medium }}</span>
              <span class="db">{{ art.dimensions }}</span>
              <span class="db">{{ art.status }}</span>
            </span>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
