---
layout: default
---

<div class="mw9 center ph3-ns">
    <img class="db mla mra" src="{{ page.src }}"/>
    <p class="tc">
        <span class="i">{{ page.title }}</span><br/>
        <span>{{ page.medium }}{% if page.dimensions %}, {{ page.dimensions }}{% endif %}{% if page.status %}, {{ page.status }}{% endif %}</span>
        {% if page.status contains "$" %}
            <br/><span>
                Email me at <a
                    target="_blank"
                    href="mailto:sranso@gmail.com?subject={{ page.title }}&body={{ site.url }}{{ page.url }}">
                    sranso@gmail.com</a> to purchase. I accept Venmo, PayPal, Zelle, and Square.
            </span>
        {% endif %}
    </p>
</div>
