<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="Sarah Ransohoff's personal website">
  <meta name="author" content="Sarah Ransohoff">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/webfonts/ss-social.css">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/images/favicon.ico">

</head>
<body>

  <!-- Primary Page Layout -->
  <div class="container">
    <header class="row">
      <div class="eight columns">
        <a href="/" class="header-home"><strong>Sarah Ransohoff</strong></a>
      </div>
      <div class="four columns">
        <a href="/posts.html" class="header-link">Posts</a>
      </div>
    </header>

    {{ content }}

  </div>
  <!-- End Document -->

  <!-- Scripts -->
</body>
</html>
