<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="Sarah Ransohoff's personal website">
  <meta name="author" content="Sarah Ransohoff">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.3/css/tachyons.min.css"/>
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/webfonts/ss-social.css">
  <link rel="stylesheet" href="/css/styles.css">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/images/favicon.ico">

</head>
<body>
  <div class="bg-light-blue w-100 h1"></div>

  <!-- Primary Page Layout -->
  <div class="container avenir">
    <header class="row mt4 mb5">
      <div class="eight columns">
        <a href="/" class="black f2 no-underline link b hover-light-blue">Sarah Ransohoff</a>
      </div>
      <div class="two columns">
        <a href="/projects.html" class="header-link link hover-bg-light-blue black underline ttu">Projects</a>
      </div>
      <div class="two columns">
        <a href="/posts.html" class="header-link link hover-bg-light-blue black underline ttu">Posts</a>
      </div>
    </header>

    {{ content }}

  </div>
  <!-- End Document -->

  <!-- Scripts -->
</body>
</html>
