<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177913389-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-177913389-1');
  </script>

  <!-- CSS -->
  <link rel="stylesheet" href="/webfonts/ss-social.css">
  <!-- .Skeleton -->
  <link rel="stylesheet" href="/css/skeleton.css">
  <!-- .Tachyons -->
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.3/css/tachyons.min.css"/>
  <!-- .mine -->
  <link rel="stylesheet" href="/css/styles.css">

  <link rel="stylesheet" href="https://use.typekit.net/hsl2tww.css">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/img/favicon.ico">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Basic Page Needs -->
  <meta name="author" content="Sarah Ransohoff">
  <meta charset="utf-8">
  {% seo %}
</head>

<body>
  <!-- Primary Page Layout -->
  <header class="mt4 mb3 flex justify-between items-baseline-ns">
    <a href="/" class="lh-solid avenir no-underline b">Sarah Ransohoff</a>
    <a href="/engineering/" class="eng lh-solid avenir no-underline">/engineering</a>
  </header>

  <main>
    {{ content }}
  </main>

  <footer class="mt5 pl5 tl pt5 pb3 bt b--light-gray">
    <div>
      <p class="mb0">This site was made by Sarah.</p>
      <div">
        <a href="https://www.instagram.com/sranso" class="dib no-underline pr2 pl0 link" alt="Instagram" target="blank">
          Instagram
        </a> -
        <a href="https://www.github.com/sranso" class="dib no-underline pr2 pl0 link" alt="Github" target="bank">
          GitHub
        </a> -
        <a href="https://www.linkedin.com/pub/sarah-ransohoff/46/301/b51" class="dib no-underline pr2 pl0 link" alt="linkedin" target="blank">
          LinkedIn
        </a> -
        <a href="https://www.goodreads.com/user/show/30217664-sarah-ransohoff" class="dib no-underline pr2 pl0 link" alt="goodreads" target="blank">
          Goodreads
        </a>
      </div>
    </div>
  </footer>

  <!-- End Document -->

  <!-- Scripts -->
  <script src="/js/index.js"></script>
</body>
</html>
