<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="Sarah Ransohoff's personal website">
  <meta name="author" content="Sarah Ransohoff">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.3/css/tachyons.min.css"/>
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/webfonts/ss-social.css">
  <link rel="stylesheet" href="/css/styles.css">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/images/favicon.ico">

</head>
<body>
  <!-- Primary Page Layout -->
    <header class="bg-light-blue black f3 no-underline link b pointer absolute left-0 right-0 w-20 tc center z-1">
      Sarah Ransohoff
    </header>

    {{ content }}

  <!-- End Document -->

  <!-- Scripts -->
</body>
</html>
